<div class="fixed">
  <nav class="top-bar fixed" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to t("page_title"), main_app.root_url %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span><%= t "menu" %></span></a></li>
    </ul>

    <% if @logged_in %>
      <section class="top-bar-section">
        <!-- right nav section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#"><%= @current_user.name %></a>
            <ul class="dropdown">
              <li><%= link_to t("profile"), users_engine.profile_path %></li>
              <li><%= link_to t("log_out"), users_engine.logout_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      </section>
    <% else %>
      <section class="top-bar-section">
        <!-- right nav section -->
        <ul class="right">
          <li><%= link_to t("log_in"), "" %></li>
          <li><%= link_to t("sign_up"), ""%></li>
        </ul>
      </section>

    <% end %>
  </nav>
</div>
