<table>
  <tr>
    <th><%= t '.start_address' %></th>
    <td><%= @section.start_address %></td>
  </tr>
  <tr>
    <th><%= t '.end_address' %></th>
    <td><%= @section.end_address %></td>
  </tr>
  <tr>
    <th><%= t '.distance' %></th>
    <td><%= "#{to_km @section.distance} km" %></td>
  </tr>
  <tr>
    <th><%= t '.duration' %></th>
    <td><%= "#{to_minutes @section.duration} #{t 'minutes'}" %></td>
  </tr>
  <tr>
    <td colspan="2">
      <%= "#{ t '.created_by' } #{ @section.user.username },
                                #{ l(@section.created_at, format: :day) }" %>
    </td>
  </tr>
  <% if user_is_creator?  %>
    <tr>
      <td colspan="2">
        <%= link_to t('.remove'), @section, method: :delete,
                                  data: { confirm: t('.confirm_delete')  } %>
      </td>
    </tr>
  <% end %>
</table>
