
<%= render partial: 'shared/errors', locals: { object: @user} %>

<div class="large-3 large-offset-2 columns">

  <%= form_for @user, url: users_engine.signup_url do |f| %>
    <div class="row">
      <%= f.label :name, t("username") %>
      <%= f.text_field :name %>
    </div>

    <div class="row">
      <%= f.label :email, t("email") %>
      <%= f.email_field :email %>
    </div>

    <div class="row">
      <%= f.label :password, t("password") %>
      <%= f.password_field :password %>
    </div>

    <div class="row">
      <%= f.label :password_confirmation, t("password_confirmation") %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="row">
       <%= f.submit t("sign_up"), class: "button" %>
    </div>
  <% end %>
</div>
