
.col-sm-4.col-sm-offset-2

  .panel
    .panel-heading
      %h3.panel-title
        = @user.name
    .panel-body
      %table.table
        %tr
          %th= t("email")
          %td= @user.email

        %tr
          %th= t(".registered")
          %td= l(@user.created_at, format: :short)

  - if @user = @current_user
    .pull-right
      = link_to t(".edit"), users_engine.profile_edit_url, class: "btn btn-default"
      = link_to t("logout"), users_engine.logout_url, class: "btn btn-default"
